body {
    font-family: 'Caprasimo', cursive;
    background-color: #1F2039;
    text-align: center;
    /* _ */
}

header {
    text-align : center;
    padding: 20px 50px 20px 50px;
    /* _ */
}

section {
    padding : 80px
}

h1, h2, h3
{
    color: #a5b4fc;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.3em;
    text-decoration: underline;
    text-align : center;
    font-weight: 800;
    border: 2px #f9f8ff solid;
    background-color : #f9f8ff;
    width : 75%;
    margin :auto; 
    /* _ */
}

.p1 {
    color:#F9F8FF;
    font-size: 36px ;
    text-decoration: none;
    border-right: 1px #8e86b5 solid;
    border-bottom: 1px #8e86b5 solid;
    /* _ */
}

h2 {
    padding: 0px 80px 105px 80px;
}

ul {

    color: #F9F8FF;
    font-size: larger;
    border-right: 1px #8e86b5 solid;
    border-bottom : 1px #8e86b5 solid;
    /* _ */
}

.p2 {
    background-color:#F9F8FF;
}

.p3 {
    background-color:#F9F8FF;
    background-color: #F9F8FF;
    border: 1px #f9f8ff solid;
    border-radius: 2px;
     /* _ */
    
}

.p3:hover {
    opacity: 0.5;
}
 footer {
    padding : 20px 50px 20px 50px;
 } 

